force-app/main/default/flows/CSV_Adam_version_to_test.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Change_Fields</name>
        <label>Change Fields</label>
        <locationX>264</locationX>
        <locationY>406</locationY>
        <actionName>MapCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Convert_Records_to_CSV</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>Account</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__outputCollection</typeName>
            <typeValue>Account</typeValue>
        </dataTypeMappings>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>Convert_CSV_File_to_Records.convertedCSVRows</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>keyValuePairs</name>
            <value>
                <stringValue>{&quot;Rating&quot;:&quot;Cold&quot;}</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Convert_CSV_File_to_Records</name>
        <label>Convert CSV File to Records</label>
        <locationX>102</locationX>
        <locationY>406</locationY>
        <actionName>ConvertCSVToRecords</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Change_Fields</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__convertedCSVRows</typeName>
            <typeValue>Account</typeValue>
        </dataTypeMappings>
        <inputParameters>
            <name>contentDocumentIdList</name>
            <value>
                <elementReference>ootbUpload.contentDocIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectApiName</name>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Convert_Records_to_CSV</name>
        <label>Convert Records to CSV</label>
        <locationX>433</locationX>
        <locationY>407</locationY>
        <actionName>ConvertRecordsToCSVQueueable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Download_Records</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__recordCollection</typeName>
            <typeValue>Account</typeValue>
        </dataTypeMappings>
        <inputParameters>
            <name>documentTitle</name>
            <value>
                <stringValue>Converted Accounts</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordCollection</name>
            <value>
                <elementReference>Change_Fields.outputCollection</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <formulas>
        <name>curUserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>CSV - Adam version to test {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CSV - Adam version to test</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Records</name>
        <label>Create Records</label>
        <locationX>721</locationX>
        <locationY>506</locationY>
        <inputReference>Convert_CSV_File_to_Records.convertedCSVRows</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Content_Document_Link</name>
        <label>Get Content Document Link</label>
        <locationX>123</locationX>
        <locationY>678</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ootbUpload.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Download_Records</name>
        <label>Download Records</label>
        <locationX>432</locationX>
        <locationY>188</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>downloadCSV</name>
            <extensionName>c:fileDownload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>contentDocumentId</name>
                <value>
                    <elementReference>Convert_Records_to_CSV.contentDocumentId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayText</name>
                <value>
                    <stringValue>Click to Download</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Data</name>
        <label>Select Data</label>
        <locationX>269</locationX>
        <locationY>187</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Convert_CSV_File_to_Records</targetReference>
        </connector>
        <fields>
            <name>CDIDDisplay</name>
            <fieldText>&lt;p&gt;{!ootbUpload.contentDocIds}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Upload_File</name>
        <label>Upload File</label>
        <locationX>116</locationX>
        <locationY>187</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Select_Data</targetReference>
        </connector>
        <fields>
            <name>fileUploadSC</name>
            <extensionName>c:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayText</name>
                <value>
                    <stringValue>Select CSV File</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>linkedRecordString</name>
                <value>
                    <elementReference>curUserId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fileShareType</name>
                <value>
                    <stringValue>I</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fileVisibility</name>
                <value>
                    <stringValue>AllUsers</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ootbUpload</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select CSV File</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>curUserId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Upload_File</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
